route:
  group_by: [Alertname]
  receiver: email-me

receivers:
  - name: email-me
    email_configs:
      - to: amgharmahdi1@gmail.com
        from: ocsthebest@gmail.com
        smarthost: smtp.gmail.com:587
        auth_username: "ocsthebest@gmail.com"
        auth_identity: "ocsthebest@gmail.com"
        auth_password: "rphx gnta usvw dpjk"
