*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100svh;
    width: 100%;
    background-color: #121212;
}

.load{
    position: relative;
    width: 350px;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: linear-gradient(45deg, transparent, transparent 40%, #00f8ff);
    animation: load 1s linear infinite;
}

/* .load::before{
    position: absolute;
    content: '';
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: linear-gradient(45deg, #00f8ff, transparent);
    animation: load 1s linear infinite reverse;
} */

.load::before{
    position: absolute;
    content: '';
    width: 93%;
    height: 93%;
    background-color: #121212;
    border-radius: 50%;
    z-index: 3;
}

.load::after{
    position: absolute;
    content: '';
    width: 93%;
    height: 93%;
    background-color: #121212;
    border-radius: 50%;
    z-index: 2;
    background: linear-gradient(45deg, transparent, transparent 40%, #00f8ff);
    filter: blur(20px);
    /* background: linear-gradient(45deg, #00f8ff, transparent); */
    /* animation: load 1s linear infinite reverse; */
}

@keyframes load {

    0%{
        transform: rotate(0);
        filter: hue-rotate(0);
    }
    
    100%{
        transform: rotate(360deg);
        /* filter: hue-rotate(360); */
    } 
}