:root {
	--custBack: #0C0E14;
	--NeonEffect: #1D90F5;
	--fadedFColor: #000E15;
	--fadedSColor: #005379;
	--BallX: 50%;
	--BallY: 50%;
	--interfaceX: 1359px;
	--interfaceY: 841px;
	--PaddleX: 25px;
	--PaddleY: 30px;
}
#root {
	width: 100%;
	height: 100svh;
}
@font-face {
	font-family: lightpant;
	src: url(/Panton-Trial-Light.ttf);
}
@font-face {
	font-family: pant;
	src: url(/Panton-Trial-Bold.ttf);
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: pant;
}
body {
	overflow: hidden;
	height: 100svh;
	background: var(--custBack);
	background-size: cover;
	background-position: center;
	padding: 0;
	margin: 0;
}
#logo {
	width: 153px;
	position: relative;
	left: 12px;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header h1 {
	text-transform: uppercase;
	font-family: pant;
	letter-spacing: 5px;
	-webkit-text-stroke: 2px var(--NeonEffect);
	text-shadow: 0 0 25px var(--NeonEffect),
			0 0 25px var(--NeonEffect);
	color: white;
}
#user-avatar {
	width: 87px;
}
.game {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80svh;
	flex-flow: column;
}
canvas {
	background: linear-gradient(120deg, var(--fadedFColor), var(--fadedSColor));
	border-radius: 25px;
	border: 2px solid #1d90f598;
	box-shadow: 0 0 30px var(--NeonEffect);
}
.score {
	position: absolute;
	display: flex;
	gap: 350px;
	font-size: 450px;
	color: rgba(255, 255, 255, 0.100);
	left: 50%;
	bottom: 23%;
	font-family: lightpant;
	transform: translateX(-50%);
}
.play::before, .play::after {
	content: '';
	height: 841px;
	width: 1px;
	background-color: rgba(255, 255, 255, 0.100);
	position: absolute;
	z-index: 4;
}
.play::after {
	rotate: 90deg;
	height: 1359px;
	position: absolute;
	inset: 0;
	bottom: 50%;
	transform: translateY(-50%);
	left: 50%;
	transform: translateX(-50%);

}
.Fpaddles, .Spaddles {
	background-color: white;
	border-radius: 14px;
	width: 15px;
	height: 94px;
	position: relative;
	left: var(--PaddleX);
	top: var(--PaddleY);
}
.Spaddles {
	left: 97.5%;
	top: 350px;
}
.ball {
	--BallX: 50;
	--BallY: 50;

	background-color: white;
	width: 20px;
	height: 20px;
	position: relative;
	left: calc(var(--BallX) * 1svw);
	top: calc(var(--BallY) * 1svh);
	border-radius: 50%;
}