@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --bg-color : #0C0E14;
    --font-color: white;
    --blue-glow: #5FCAE4;
}

*{
    margin: 0;
    padding: 0;
    border: 0.1px solid red;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 1.2rem;
    color: var(--font-color);
}

body{
    background-color: var(--bg-color);;
    width: 100%;
    height: 100svh;
}

.AppClass{
    display: flex;
    justify-content: space-between;
}

.AppClass > *{
    height: 100svh;
    max-height: 120rem;
}

.main{
    max-width: 2560px;
    display: flex;
    flex-direction: column;
    margin: 0 3rem;
    max-height: 120rem;
    flex: 1;
}

#DashboardProfileContainer{
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
	flex: 1;
}

#ProfileHistory{
	background-color: #5FCAE4;
	display: flex;
	flex: 1;
}