@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: Futurass;
  src: url("../src/css/Fonts/futura/FUTURA55REGULAR.TTF");
}

@font-face {
  font-family: Bank;
  src: url("../src/css/Fonts/Bank/BankSansEFCYBold.otf");
}

@font-face {
  font-family: Zekton;
  src: url("../src/css/Fonts/zekton/zektonbo.ttf");
}

:root {
  --bg-color: #0c0e14;
  --font-color: white;
  --grey-bg-color: hsl(227, 15%, 23%);
  --blue-glow: #5fcae4;
}

*:link {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  font-size: 1.2rem;
  color: var(--font-color);
  border: 0.1px solid gray;
}

body {
  background-color: var(--bg-color);
  width: 100%;
  height: 100svh;
}

.AppClass {
  display: flex;
  justify-content: space-between;
}

.AppClass > * {
  /* height: 100svh; */
}

.main {
  max-width: 2560px;
  display: flex;
  flex-direction: column;
  margin: 2rem 3rem;
  flex: 1;
  gap: 2rem;
}

@media only screen and (max-width: 2560px) {
}

@media only screen and (max-width: 1920px) {
  .AppClass > * {
    height: auto;
  }
}

@media only screen and (max-width: 1440px) {
  .AppClass > * {
    height: auto;
  }
}

@media only screen and (max-width: 900px) {
  .main {
    padding-right: 2rem !important;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 100px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: var(--blue-glow);
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}

@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
