@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --bg-color : #0C0E14;
    --font-color: white;
    --blue-glow: #5FCAE4;
}

*{
    margin: 0;
    padding: 0;
    border: 0.1px solid red;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    font-size: 1.2rem;
    color: var(--font-color);
}

body{
    background-color: var(--bg-color);;
    width: 100%;
    height: 100svh;
}

.AppClass{
    display: flex;
    justify-content: space-between;
}

.AppClass > *{
    height: 100svh;
    max-height: 120rem;
}

.main{
    border: 1px solid green;
    max-width: 2560px;
    display: flex;
    flex-direction: column;
    margin: 0 5rem;
    max-height: 120rem;
    flex: 1;
}

#TopBar{
	background-color: #5FCAE4;
	display: flex;
	height: 8rem;
	align-items: center;
	justify-content: space-between;
}

#welcome-bar{
	display: flex;
	gap: 0.5rem;
}

#welcome-bar > h1{
	font-size: 2rem;
}

#nickName{
	color: #1E8EF3;
    text-shadow: 0px 0px 25px rgba(29, 144, 245, 1);
}

#search-bar{
	background-color:blueviolet;
	display: flex;
	flex: 0.5;
	justify-content: space-between;
    align-items:center;
    margin-right: 2rem;
}

#search:placeholder-shown, #search {
	background-color: #0C0E14;
    border: 1px solid #5FCAE4;
	width: 60%;
    border-radius: 30px;
    padding: 20px 20px;
    margin: 20px 0;
    box-sizing: border-box;
    background-image: url(../Imgs/search-icon.svg);
    background-repeat: no-repeat;
    background-position: 20px 20px;
    transition: all .3s;
}