<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Error</title>
</head>
<style>
	*{
		padding: 0;
		margin: 0;
	}
	h1 {
		color: rgb(233, 13, 13);
		font-size: 65px;
		font-family: Arial, Helvetica, sans-serif;
		text-shadow: 0 0 15px rgb(233, 13, 13);
	}
</style>
<body>
	<div style="background-color: rgb(0, 0, 0);display: flex;height: 100svh;justify-content: center;align-items: center;flex-flow: column;" class="container">
		<h1>Error </h1>
		<h1>{{ status_code }}</p>
	</div>
</body>
</html>