:root {
  --bg-color: #0c0e14;
  --grey-bg-color: #323644;
  --font-color: white;
  --blue-glow: #5fcae4;
  --edge: 25px;
}

/* #DashboardProfileContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
  margin-bottom: 1rem;
} */

#Dashboard {
  border-radius: var(--edge);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#DashboardHistory {
  display: flex;
  width: 800px;
  border-radius: 25px;
}

#Dashboard-Main-GameModeContainer {
  width: 800px;
  background-image: url(/DashboardGameModes/table1.jpg);
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex: 1;
}

#Dashboard-Secondary-GameModeContainer {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#Dashboard-Secondary-GameModeContainer > * {
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  height: 250px;
}

#Dashboard-Secondary-tournament {
  background-image: url(/DashboardGameModes/table1.jpg);
}

#Dashboard-Secondary-bot {
  background-image: url(/DashboardGameModes/table1.jpg);
}

#Dashboard-Secondary-practice {
  background-image: url(/DashboardGameModes/table1.jpg);
}

.big {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: var(--edge);
}

.extraModes {
  height: 260px;
  object-fit: cover;
  border-radius: var(--edge);
}

@media only screen and (max-width: 2560px) {
  #DashboardHistory,
  #Dashboard-Main-GameModeContainer,
  #Dashboard-Secondary-GameModeContainer {
    width: 700px;
  }
}

@media only screen and (max-width: 1440px) {
  #Dashboard-Main-GameModeContainer,
  #Dashboard-Secondary-GameModeContainer {
    width: 350px;
  }
  #DashboardHistory {
    width: 1000px;
  }
  #Dashboard-Secondary-GameModeContainer {
    gap: 1rem;
  }
}

@media only screen and (max-width: 1920px) {
  #Dashboard-Main-GameModeContainer,
  #Dashboard-Secondary-GameModeContainer {
    width: 500px;
  }
  #DashboardHistory {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  #Dashboard-Secondary-GameModeContainer {
    gap: 1rem;
  }
}
