:root{
    --bg-color : #0C0E14;
	--grey-bg-color: #323644;
    --font-color: white;
    --blue-glow: #5FCAE4;
	--edge: 25px
}

#Dashboard{
	border: 2px solid var(--blue-glow);
	border-radius: var(--edge);
	display: flex;
	flex: 2;
	/* flex-wrap: wrap; */
}

.DashboardGameModes{
	display: flex;
	flex: 1;
}

#Dashboard-Main-GameModeContainer{
	display: flex;
	width: 35%;
}

#Dashboard-Secondary-GameModeContainer{
	/* display: flex;
	flex-direction: column; */
	width: 30%;
}
