:root{
    --bg-color : #0C0E14;
	--grey-bg-color: #323644;
    --font-color: white;
    --blue-glow: #5FCAE4;
	--edge: 25px
}

#Dashboard{
	border: 2px solid var(--blue-glow);
	border-radius: var(--edge);
	display: flex;
	flex: 2;
	flex-wrap: wrap;
	gap: 1rem;
}

#Dashboard-Main-GameModeContainer{
	flex: 1.5;
}

#Dashboard-Secondary-GameModeContainer{
	flex: 1;
}

.big{
	width: 100%;
	object-fit: contain;
}

.extraModes{
	width: 100%;
	height: 300px;
}

/* --------------------------DASHBOARD HISTORY------------------------- */

#history{
    display: flex;
    flex-direction: column;
    padding: 30px;
    border: 1px solid #5FCAE4;
    border-radius: 20px;
	flex: 1;
    gap: 30px;
}

.history-top-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.line3{
    position: relative;
    width: 2px;
    height: 710px;
    background: #5FCAE4;
}

.line4{
    background: #24B299;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    left: -10px;
}

.history-container{
    display: flex;
    flex: 1;
}

#dashboard-history-pic{
    background-image: url(../Imgs/gay.png);
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
}

.tabs-acheivements{
    display: flex;
}

.history-tab-first{
    margin-top: 40px;
}

.history-tabs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 140px;
    position: relative;
}

.history-tabs-left-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.history-tab-won{
    background-color: #172A31;
}

.history-tab-lost{
    background-color: #5F2A33;
}

.dashboard-history-right-rect{
    width: 10px;
    height: 140px;
    background-color: #1E8EF3;
}

.rect-lost{
    background-color: #9F4146;
}

.rect-won{
    background-color: #1F6561;
}

#dashboard-history-opponent, #dashboard-history-mode, #dashboard-history-date{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

#tabs-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
}