* {
  /* border: 0.1px solid gray; */
  --bg-color: #0c0e14;
  --font-color: white;
  --grey-bg-color: hsl(227, 15%, 23%);
  --blue-glow: #5fcae4;
}

.topBarLeaderBoard {
  /* margin: 0rem 0 0rem 0; */
}

.LeaderBoardContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  gap: 4rem;
}

.LeaderBoardContainer > h1 {
  margin: 4rem 0 0rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4rem;
  color: #1e8ef3;
  text-shadow: 0px 0px 25px rgba(29, 144, 245, 1);
  letter-spacing: 0.5rem;
}

.Top3 {
  flex: 2;
}

.First,
.Second,
.Third {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.First > img{
  box-shadow: #FFC94A 0px 20px 30px 5px;
}

.topImgs {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.toph1 {
  font-size: 1.9rem;
}

.Coins {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  font-size: 1.5rem;
  padding: 0.5rem 7rem;
  border-radius: 25px;
  background: linear-gradient(to bottom, #242631 0%, #0f1119 100%);
}
/* #FFD700 */

.Coins > h2 {
  font-size: 1.3rem;
}

.Coins > h3 {
  /* font-size: 1.3rem; */
  color: #33394E; 
}


.SecondThird {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.LeaderBoardRest {
  flex: 1;
}
