* {
  /* border: 0.1px solid gray; */
  --bg-color: #0c0e14;
  --font-color: white;
  --grey-bg-color: hsl(227, 15%, 23%);
  --blue-glow: #5fcae4;
}

.topBarLeaderBoard {
  /* margin: 0rem 0 0rem 0; */
}

.LeaderBoardContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.LeaderBoardContainer > h1 {
  margin: 4rem 0 0rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 4rem;
  color: #1e8ef3;
  text-shadow: 0px 0px 25px rgba(29, 144, 245, 1);
  letter-spacing: 0.5rem;
}

.Top3 {
  flex: 2;
}

.First,
.Second,
.Third {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.First > img {
  box-shadow: #ffc94a 0px 20px 30px 5px;
}

.Second > img {
  box-shadow: #999999 0px 20px 30px 5px;
}

.Third > img {
  box-shadow: #e07f1f 0px 20px 30px 5px;
}

.topImgs {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
}

.toph1 {
  font-size: 1.9rem;
}

.Coins {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 5rem;
  border-radius: 25px;
  background: linear-gradient(to bottom, #242631 0%, #0f1119 100%);
}

.Coins > h2 {
  font-size: 1.3rem;
}

.SecondThird {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 3rem;
}

.LeaderBoardRest {
  max-height: 500px;
  padding: 0 15rem;
  overflow-y: scroll;
}

.LeaderBoardRest > ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.LeaderBoardRest > ul > li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 25px;
  padding: 1rem;
}

.SpecialCase {
  background: linear-gradient(to bottom, #242631 0%, #0f1119 100%);
}

.lineLi {
  height: 100px;
  width: 2px;
  border: 1px solid var(--grey-bg-color);
}

.RestImgs {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.idAndLine {
  display: flex;
  align-items: center;
  gap: 2rem;
}

@media only screen and (max-width: 2200px) {
  .LeaderBoardRest {
    padding: 0;
  }
}

.LeaderRestLeft {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}

.LeaderRestRight {
  display: flex;
  justify-content: space-between;
  flex: 2;
}

.LeaderRestRighUsrtName {
  display: flex;
  justify-content: center;
  flex: 0.5;
}

.LeaderRestRightLvl {
  display: flex;
  flex: 2;
  justify-content: space-evenly;
}
