:root {
  /* border: 0.1px solid gray; */
  --bg-color: #0c0e14;
  --font-color: white;
  --grey-bg-color: hsl(227, 15%, 23%);
  --blue-glow: #5fcae4;
}

.tableau {
  display: flex;
  flex: 1;
  overflow-y: scroll;
  overflow-x: hidden;

  height: 900px;
}

.tableau > table {
  width: 100%;
  position: relative;
  border-collapse: collapse;
  border-spacing: 2px;
  margin: 0 1rem 0 1rem;
}

.HistoryToolTipTable {
  background-color: var(--bg-color);
  height: 1rem;
  position: sticky;
  top: 0;
  height: 3rem;
  z-index: 100;
}

.Won,
.Lost {
  height: 8rem;
  text-align: center;
  transition: 0.5s all;
}

.Won:hover,
.Lost:hover {
  scale: 1.02;
  overflow: hidden;
  z-index: 90;
}

.Won {
  /* background: linear-gradient(90deg, rgb(16, 26, 32), rgb(30, 57, 66)); */
  background: rgb(16, 26, 32);
  background: linear-gradient(
    90deg,
    rgba(16, 26, 32, 1) 35%,
    #18272f 60%,
    rgba(30, 57, 66, 1) 100%
  );
}

.Lost {
  /* background: linear-gradient(90deg, rgb(66, 27, 33), rgb(102, 42, 51)); */
  background: rgb(66, 27, 33);
  background: linear-gradient(90deg, #401a20 35%, #4f2027 60%, #612830 100%);
}

.spacing {
  height: 2rem;
}

td {
  /* color: #401a20; */
  font-size: 1.3rem;
}

.ScoreTd {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8rem;
}

.rightTd {
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.leftTd {
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.HistoryToolTipTable > th > h1 {
  color: hsl(232, 7%, 40%);
  font-family: Futurass;
  font-size: 900;
  letter-spacing: 2px;
  font-size: 1.35rem;
}

td > h1 {
  font-family: Zekton;
  letter-spacing: 2px;
  font-size: 1rem;
  /* font-family: URW;
  font-size: 1.4rem; */
  /* font-family: BigNoodle;
  font-size: 1.6rem; */
}
