* {
  /* border: 0.1px solid gray; */
  --bg-color: #0c0e14;
  --font-color: white;
  --grey-bg-color: hsl(227, 15%, 23%);
  --blue-glow: #5fcae4;
}

.tableau {
  display: flex;
  flex: 1;
  overflow-y: scroll;
  height: 900px;
}

.tableau > table {
  width: 100%;
  position: relative;
  border-collapse: collapse;
  border-spacing: 2px;
  margin: 0 1rem 0 1rem;
}

.HistoryToolTipTable {
  background-color: var(--bg-color);
  height: 1rem;
  position: sticky;
  top: 0;
  height: 3rem;
}

.Won,
.Lost {
  height: 8rem;
  text-align: center;
}

.Won {
  background: linear-gradient(90deg, rgb(16, 26, 32), rgb(30, 57, 66));
}

.Lost {
  background: linear-gradient(90deg, rgb(66, 27, 33), rgb(102, 42, 51));
}

.spacing {
  height: 2rem;
}
