:root {
  --bg-color: #0c0e14;
  --font-color: white;
  --grey-bg-color: hsl(227, 15%, 23%);
  --blue-glow: #5fcae4;
}

* {
  /* border: 0.1px solid red; */
}

.MainSettingsContainer {
  display: flex;
  justify-content: center;
  flex: 1;
  margin-bottom: 3rem;
}

.MainSettings {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  flex: 1;
  gap: 5rem;
  flex-wrap: wrap;
}

.SettingsH1 {
  display: flex;
  justify-content: center;
  font-size: 4rem;
  color: #1e8ef3;
  text-shadow: 0px 0px 25px rgba(29, 144, 245, 1);
  letter-spacing: 0.5rem;
  text-align: center;
}

.SettingsContent {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid var(--blue-glow);
  border-radius: 25px;
  flex: 1;
  background-image: url("../../public/bg/castle2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.SettingsLeft {
  flex: 1;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-radius: 25px;
}

.SettingsRight {
  flex: 2;
  margin: 4rem 2rem;
  padding: 4rem 2rem;
  border-radius: 25px;
  /* border: 2px solid var(--blue-glow); */
  min-width: 40rem;
  background: rgba(0, 0, 0, 0.41);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
}

.SettingsImg {
  display: flex;
  justify-content: center;
}

.SettingsImg > img {
  border-radius: 15px;
  height: 18rem;
}

.wht {
  /* color:#cccccc; */
  /* text-shadow: 0px 0px 1px rgb(255, 255, 255); */
  letter-spacing: 1px;
}

.blk {
  /* color: #0c0e14; */
  /* text-shadow: 0px 0px 30px rgb(0, 0, 0); */
  color: white;

  letter-spacing: 1px;
}

.SettingsData {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.SetIcon {
  height: 3rem;
  font-size: 2.5rem;
}

.SetInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid var(--blue-glow);
  background-image: radial-gradient(#5fcae4 1px, transparent 1px),
    radial-gradient(#5fcae4 1px, transparent 1px);
  background-size: 100px 100px;
  background-position: 0 0, 50px 50px;
  animation: g17 3s infinite linear;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
}

.SetInfo:hover {
  scale: 1.1;
  transition: all 0.3s;
}

.SetInfo:active {
  scale: 1;
  opacity: 0.8;
}

.GeneralInfoContainer {
  display: flex;
  flex-direction: column;
}

.GeneralInfoContainer > * {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.GeneralInfoContainer > form > div > * {
  color: #0c0e14;
}

.SettingsComponents {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.LeftSpacer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.SetUnderLine {
  border-bottom: 2px dotted var(--blue-glow);
  margin: 0 5px;
}

.GeneralInfoInput {
  border: 1px solid var(--blue-glow);
  width: 35rem;
  border-radius: 30px;
  padding: 20px 20px;
  transition: all 0.3s;
  height: 4rem;
  background-color: #0c0e14;
  color: white;
  width: 100%;
}

.GeneralInfoInput:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--blue-glow);
  transition: 0.5s;
  border-radius: 0;
}

.GeneralInfoInput:focus::placeholder {
  color: var(--grey-bg-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #ffffff;
  transition: var(--bg-color) 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px var(--bg-color);
}

.GeneralInfoContainer > form > div > input {
  color: var(--blue-glow);
}

.GeneralInfoContainer > form > div > input::placeholder {
  color: white;
}

.FirstSecondName {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.firstSecond {
  max-width: 20rem;
}

.SettingsButton {
}
