#SideBar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.sidebar-links{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 50%;
}

.sidebar-links > *, #logout{
    text-align: center;
    cursor: pointer;
    width: 3rem;
}
