#SideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 3rem; */
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}

.sidebar-links > * > *,
#logout {
  text-align: center;
  cursor: pointer;
  width: 3rem;
}

.sidebarImgs {
  width: 3rem;
  fill: white;
  font-size: 3rem;
}
.exit {
  margin-bottom: 2rem;
}

/* #exit:hover {
  color: #f51d1d;
  filter: drop-shadow(0 0 13px #f51d1d);
}
#exit {
  position: absolute;
  bottom: 100px;
  left: 100px;
} */

/* #icons:hover, #exit:hover {
    color: var(--NeonEffect);
    filter: drop-shadow(0 0 13px var(--NeonEffect));
  }  */
