#TopBar{
	display: flex;
	height: 8rem;
	align-items: center;
	justify-content: space-between;
}

#welcome-bar{
	display: flex;
	flex-wrap: wrap;
	gap: 0.5rem;
	flex: 1;
}

#welcome-bar > h1{
	font-size: 2rem;
}

#nickName{
	color: #1E8EF3;
    text-shadow: 0px 0px 25px rgba(29, 144, 245, 1);
}

#search-bar{
	display: flex;
	flex: 1;
	justify-content: space-between;
    align-items:center;
    margin-right: 1rem;
	gap: 1rem;
}

#search:placeholder-shown, #search {
	background-color: #0C0E14;
    border: 1px solid var(--blue-glow);
	width: 60%;
    border-radius: 30px;
    padding: 20px 20px;
    background-image: url(/search-icon.svg);
    background-repeat: no-repeat;
    background-position: 20px 20px;
    transition: all .3s;
	
}

#search::placeholder{
	padding: 0 0 0 6%;
}

#search-bar > input[type="text"] {
	color: var(--blue-glow);
}

#search, #search:focus{
    background-image: none;
}

#search:focus{
    border: none;
    outline: none;
    border-bottom: 1px solid var(--blue-glow); 
    transition: 0.5s;
    border-radius: 0;
}

#notif{
	font-size: 3.5rem;
	background-color: #3D73A3;
	padding: 10px;
	border-radius: 50px;
    box-shadow: 0px 0px 2px rgba(29, 144, 245, 1);
}

@media only screen and (max-width: 2560px) {
}

@media only screen and (max-width: 1440px) {
	#search:placeholder-shown, #search {
		width: 70%;
	}

	#search::placeholder{
		padding: 0 0 0 10%;
	}
}
