@font-face {
  font-family: cool;
  src: url(../../css/Fonts/Panton/Panton-Trial-Bold.ttf);
}
.main {
  /* background-color: #323644; */
}

.Chat-wrapper {
  display: flex;
  /* border: 1px solid #1e8ef3; */
  width: 100%;
  height: 100%;
}

.Friends-menu {
  width: 20%;
  height: 100%;
}

.Chat-box-menu {
  width: 80%;
  height: 100%;
}

#Chatlogo {
  font-size: 3.5rem;
  font-family: cool;
  width: fit-content;
}

#LastMessages {
  margin-bottom: 10px;
  color: gray;
}

.Friends-wrapper {
  /* border: solid green; */
  display: flex;
  flex-direction: column;
  gap: 8rem;
  max-height: 1200px;
  flex: 1;
  margin-top: 8rem;
}

.Chat-Friendslist {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #15171f;
  padding: 0.7rem 0;
  max-width: 400px;
  border-radius: 20px;
  cursor: pointer;
}

.Friend-img {
  height: 70px;
  width: 70px;
}

.Name-messages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 70%;
}

#Friend-name {
  list-style: none;
  font-size: 20px;
}

#Last-message {
  color: gray;
  font-size: medium;
}

.Chat-typer-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Type-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 85%;
  height: 85%;
}

.Chat-container {
  display: flex;
  flex: 1;
  gap: 6rem;
}

.Chat-headers {
  display: flex;
  gap: 22.5rem;
}

.Friend-header-img {
  height: 70px;
  width: 70px;
}

.zabi {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.Header-box-chat {
  margin-top: 8rem;
  display: flex;
  justify-content: flex-start;
  width: 85%;
}

.Friend-header-name > li {
  list-style: none;
  font-size: 20px;
}

.Friend-header-name > p {
  color: gray;
  font-size: medium;
}

.Chat-box {
  height: 1000px;
  width: 100%;
  background: #323644;
  background: linear-gradient(
    0deg,
    rgba(50, 54, 68, 1) -30%,
    rgba(12, 14, 20, 1) 120%
  );
  position: relative;
  overflow-y: scroll;
}

.Chat-box::before {
  content: "";
  background: linear-gradient(#0c0e14, transparent);
  width: 60%;
  height: 10%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 5;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

.Receiver {
  position: relative;
  top: 5%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 1rem;
}

.First-message {
  width: 400px;
  margin-left: 4rem;
  background: rgb(50, 54, 68);
  background: linear-gradient(
    0deg,
    rgba(50, 54, 68, 1) 65%,
    rgba(12, 14, 20, 1) 130%
  );
  border-radius: 34px;
  padding: 30px;
}

#bachar {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  display: block;
}

#chatperson {
  width: 3.5rem;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid #5fcae4;
}

.bachar {
  width: 4rem;
  border-radius: 50%;
  padding: 5px;
  border: 1px solid #5fcae4;
}

.First-message > p {
  font-size: 18px;
}

.First-message-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.Receiver-name-img {
  margin-left: 4rem;
  display: flex;
  gap: 0.5rem;
}

.First-message-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.First-message-name > li {
  list-style: none;
  font-size: 16px;
}

.First-message-name > p {
  color: gray;
  font-size: 13px;
}

.Sender {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
}

.Sender-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.Sender-message {
  margin-right: 4rem;
  max-width: 700px;
  background-color: #1d90f5;
  border-radius: 34px;
  padding: 30px;
}

.Sender-message > p {
  font-size: 18px;
}

.Sender-message-img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.Sender-name-img {
  margin-right: 4rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}

.Sender-message-name {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.Sender-message-name > li {
  list-style: none;
  font-size: 16px;
}

.Sender-message-name > p {
  color: gray;
  font-size: 13px;
}

#Chat-input {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 100%;
  background-color: rgb(42, 46, 58);
  gap: 1rem;
  border-bottom-left-radius: 27px;
  border-bottom-right-radius: 27px;
}

.Input-box > input {
  background-color: #424656;
  border-radius: 17px;
  padding: 15px;
  width: 800px;
  border: 1px solid #1e8ef3;
  outline: 1px solid #1e8ef3;
  font-size: medium;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 200;
  transition: 0.4s;
}

.Input-box > input::placeholder {
  color: white;
}
.Input-box > input:hover {
  box-shadow: rgba(30, 142, 243, 1) 0px 1px 7px 0px,
    rgba(30, 142, 243, 1) 0px 0px 0px 1px;
}

.Chat-send-button {
  background: none;
  border: none;
  padding: 0;
}

#bottona {
  padding: 12px;
  border-radius: 12px;
  background-color: #1d90f5;
  transition: 0.4s;
  cursor: pointer;
}

#bottona:hover {
  box-shadow: rgba(30, 142, 243, 1) 0px 1px 7px 0px,
    rgba(30, 142, 243, 1) 0px 0px 0px 1px;
}

#lonely {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#lonely > p {
  font-family: cool;
  color: gray;
  font-size: 70px;
}

.Block-button {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}