@font-face {
  font-family: cool;
  src: url(../../css/Fonts/Panton/Panton-Trial-Bold.ttf);
}

:root {
  --bg-color: #0c0e14;
  --font-color: white;
  --grey-bg-color: hsl(227, 15%, 23%);
  --blue-glow: #5fcae4;
}

* {
  /* border: 0.1px solid grey; */
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.Items {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-height: 80vh;
  overflow-y: scroll;
  gap: 1rem;
}

.Items::-webkit-scrollbar {
  display: none;
}

.itemsContainer {
  display: flex;
  flex-direction: column;
  max-width: 70vw;
  width: fit-content;
}

#Paddles-header {
  font-size: 2rem;
  font-family: cool;
}

.Paddle-holder {
  display: flex;
  align-items: center;
  gap: 2rem;
  overflow-x: scroll;
}

.Card-container {
  display: flex;
  width: 280px;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.Item-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Item-img:hover {
  scale: 1.01;
}

.Item-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 370px;
  width: 280px;
  border-radius: 15px;
  background-color: #c8f1ff;

  cursor: pointer;
  transition: 0.4s;
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 0 20px 0px black;
}

.Item-img-animation {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
  background-color: rgba(33, 74, 120, 0.596);
  transform: translateY(100%);
  height: 100%;
  width: 100%;
  transition: 0.3s;
  border-radius: 15px;
}

.Item-img-animation > p {
  font-family: cool;
  font-size: 2rem;
}

.Item-img-animation2 {
  font-family: cool;
  padding: 7px 30px;
  border-radius: 15px;
  font-size: 1.7rem;
  position: absolute;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.3s;
  background-color: transparent;
}

.Item-img:hover > .Item-img-animation2 {
  opacity: 1;
}

.Item-img:hover > .Item-img-animation {
  transform: translateY(0);
}

/* .Item-img:hover {
  scale: 1.007;
   filter: brightness(80%);
} */

.ItemValueContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 280px;
}

.Item-title {
  font-weight: 500;
  font-size: 1rem;
  box-shadow: 0 0 20px 10px black;
}

.Item-price {
  font-size: 1rem;
  border-radius: 7px;
  color: black;
  padding: 0.1rem 2rem;
  background-color: var(--blue-glow);
  box-shadow: 0 0 20px 10px black;
}

@media only screen and (max-width: 1024px) {
  .Items {
    max-height: 85vh;
    gap: 1rem;
  }
  .itemsContainer {
    max-width: 83vw;
  }
  #Paddles-header {
    font-size: 1.5rem;
  }
  .Paddle-holder {
    gap: 1rem;
  }
  /* ---------------Card Item */
  .Card-container {
    width: 200px;
    margin-bottom: 0.3rem;
  }
  .Item-img {
    height: 264px;
    width: 198px;
  }
  .Paddle-holder::-webkit-scrollbar {
    /* display: none; */
  }
  .ItemValueContainer {
    /* flex-direction: column; */
    /* gap: 2px; */
    width: 198px;
  }
  .Item-price {
    border-radius: 7px;
    padding: 4px 10px;
    background-color: var(--blue-glow);
  }
}

/* width 280px -> 370px height */
/* width 200px -> 264 height */

@media only screen and (max-width: 768px) {
  .Items {
    max-height: 100vh;
  }

  .Paddle-holder {
    gap: 0.8rem;
  }
}

@media only screen and (max-width: 425px) {
  .itemsContainer {
    max-width: 100vw;
  }
}