:root {
  --bg-color: #0c0e14;
  --grey-bg-color: #323644;
  --font-color: white;
  --blue-glow: #5fcae4;
  --edge: 25px;
}

/* #DashboardProfileContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  flex: 1;
  margin-bottom: 1rem;
} */

#Dashboard {
  border-radius: var(--edge);
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

#DashboardHistory {
  display: flex;
  width: 800px;
  border-radius: 25px;
}

#Dashboard-Main-GameModeContainer {
  width: 800px;
  background-image: url("/vs4.png");
  border-radius: 25px;
  background-size: cover;
  background-position: center;
  display: flex;
  flex: 1;
  transition: all 0.3s ease-in-out;
  opacity: 0.6;
  position: relative;
}

#Dashboard-Main-GameModeContainer:hover {
  opacity: 1;
  scale: 1.01;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

#Dashboard-Main-GameModeContainer:hover::before {
  content: "VS PLAYER";
  position: absolute;
  top: 45%;
  left: 22%;
  font-size: 5rem;
  font-family: cool;
  letter-spacing: 5px;
  background: #a7cfdf;
  background: linear-gradient(to right, #a7cfdf 0%, #23538a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#Dashboard-Secondary-GameModeContainer {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}

#Dashboard-Secondary-GameModeContainer > * {
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  /* height: 290px; */
  height: calc(52vh / 3);
  transition: all 0.3s ease-in-out;
  opacity: 0.6;
  cursor: pointer;
  position: relative;
}

#Dashboard-Secondary-GameModeContainer > *:hover {
  opacity: 1;
  scale: 1.01;
  transition: all 0.4s ease-in-out;
}

#Dashboard-Secondary-GameModeContainer > *:hover::before {
  content: "VS";
  position: absolute;
  top: 45%;
  left: 22%;
  font-size: 3.9rem;
  font-family: cool;
  letter-spacing: 5px;
  background: #a7cfdf;
  background: linear-gradient(to right, #a7cfdf 0%, #23538a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#Dashboard-Secondary-tournament {
  background-image: url("/Tour2.png");
  background-position: center 81%;
}

#Dashboard-Secondary-tournament:hover::before {
  content: "TOURNAMENT";
  top: 25%;
  left: 15.2%;
}

#Dashboard-Secondary-bot {
  background-image: url("/robot2.png");
  background-position: center 60%;
}

#Dashboard-Secondary-bot:hover::before {
  content: "VS AI";
  top: 28.1%;
  left: 38.5%;
  font-size: 4rem;
}

#Dashboard-Secondary-practice {
  background-image: url("/practice2.png");
  background-position: center 61%;
}

#Dashboard-Secondary-practice:hover::before {
  content: "PRACTICE";
  top: 34%;
  left: 15%;
  font-size: 3.5rem;
}

@media only screen and (max-width: 3000px) {
  #Dashboard-Secondary-GameModeContainer > * {
    height: calc(50vh / 3);
  }
}

@media only screen and (max-width: 2880px) {
  #Dashboard-Secondary-GameModeContainer > * {
    height: calc(47vh / 3);
  }
  #Dashboard-Main-GameModeContainer:hover::before {
    top: 45%;
    left: 24%;
    font-size: 4rem;
    letter-spacing: 4px;
  }
  #Dashboard-Secondary-tournament:hover::before {
    top: 18.5%;
    left: 21%;
    font-size: 3.2rem;
  }
  #Dashboard-Secondary-bot:hover::before {
    top: 25%;
    font-size: 3.5rem;
  }
  #Dashboard-Secondary-practice:hover::before {
    content: "PRACTICE";
    top: 31.5%;
    left: 18%;
    font-size: 3rem;
  }
}

@media only screen and (max-width: 2560px) {
  #DashboardHistory,
  #Dashboard-Main-GameModeContainer,
  #Dashboard-Secondary-GameModeContainer {
    width: 700px;
  }
  #Dashboard-Main-GameModeContainer:hover::before {
    top: 46%;
    left: 24%;
    font-size: 3.4rem;
  }
  #Dashboard-Secondary-tournament:hover::before {
    top: 19%;
    left: 21.6%;
    font-size: 2.7rem;
  }
  #Dashboard-Secondary-bot:hover::before {
    top: 26.4%;
    font-size: 2.9rem;
  }
  #Dashboard-Secondary-practice:hover::before {
    top: 33%;
    left: 20%;
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 1440px) {
  #Dashboard-Main-GameModeContainer,
  #Dashboard-Secondary-GameModeContainer {
    width: 350px;
  }
  #DashboardHistory {
    width: 1000px;
  }
  #Dashboard-Secondary-GameModeContainer {
    gap: 1rem;
  }
}

@media only screen and (max-width: 1920px) {
  #DashboardHistory {
    display: none;
  }
  #Dashboard > * {
    width: 50%;
  }
  #Dashboard-Main-GameModeContainer:hover::before {
    left: 25%;
  }
  #Dashboard-Secondary-tournament:hover::before {
    top: 8%;
    left: 24.5%;
    font-size: 2.6rem;
  }
  #Dashboard-Secondary-bot:hover::before {
    top: 21%;
    font-size: 2.6rem;
  }
  #Dashboard-Secondary-practice:hover::before {
    top: 26%;
    left: 21%;
    font-size: 2.5rem;
  }
}
