#FriendBar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 auto;
  width: 9rem;
  height: 100%;
  max-height: 100vh;
}

#friend-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--blue-glow);
  padding: 1.5rem;
  margin: 2rem;
  border-radius: 40px;
}

.friend-sb {
  cursor: pointer;
  width: 3rem;
  border-radius: 50%;
}

.friend-svg {
  width: 2rem;
  cursor: pointer;
}

.Friend-Relat {
  position: relative;
}

.friend-bar-username {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -1rem;
  left: 0;
  right: 0;
  color: var(--blue-glow);
  transition: all 0.6s;
  font-size: 1.5rem;
  text-shadow: 0 0 10px var(--blue-glow);
}

.friend-bar-username:hover {
  scale: 1.05;
}

@media only screen and (max-width: 2560px) {
  #friend-container {
    padding: 1.2rem;
  }
  .friend-svg {
    width: 1.5rem;
  }
  .friend-sb {
    width: 2rem;
  }
}

@media only screen and (max-width: 1024px) {
  #FriendBar {
    display: none;
  }
}
