#FriendBar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 auto;
  width: 9rem;
  height: 100%;
  max-height: 100vh;
  transition: all 2s;
}

#FriendBar > * {
  transition: all 2s;
}

#friend-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--blue-glow);
  padding: 1.5rem;
  margin: 2rem;
  border-radius: 40px;
  transition: all 2s;
}

.friend-sb {
  cursor: pointer;
  width: 3rem;
  border-radius: 50%;
  transition: all 2s;
}

.friend-svg {
  width: 2rem;
  transition: all 2s;
}
