#history {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 5px;
  height: 55vh;
  padding: 0 0.5rem;
  width: 100%;
  overflow-y: scroll;
}

#history::-webkit-scrollbar {
  width: 5px;
  /* display: none; */
}

#history::-webkit-scrollbar-track {
  background: #0c0e14;
  border-radius: 18px;
}

#history::-webkit-scrollbar-thumb {
  background: #5fcae4;
  border-radius: 18px;
  border: 1px solid #0c0e14;
}

@supports not selector(#history::-webkit-scrollbar) {
  * {
    scrollbar-color: #5fcae4 #0c0e14;
  }
}

#HistoryNogamesPlayed {
  width: 800px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  cursor: pointer;
  border: 1px solid #5fcae4;
  box-shadow: -10px 10px 5px #1c212f;
  transition: all 0.3s ease-in-out;
}

#HistoryNogamesPlayed > * {
  font-family: "Roboto", sans-serif;
}

#HistoryNogamesPlayed:hover {
  scale: 1.01;
}

#HistoryNogamesPlayed > h1 {
  text-shadow: 0 0 5px #0c0e14;
  letter-spacing: 5px;
  font-size: 4rem;
  background: #a7cfdf;
  background: linear-gradient(to right, #a7cfdf 0%, #23538a 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

/* .HistoryShadowDashboard {
  position: fixed;
  bottom: 50px;
  width: 800px;
  left: 2070px;
  height: 2rem;
  background: linear-gradient(transparent, rgb(0, 0, 0, 0.8));
} */

.history-tabs {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  width: 100%;
  height: 140px;
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  transition: all 0.4s;
}

.history-tabs:hover {
  scale: 1.02;
  cursor: pointer;
}

.history-tabs-left-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
}

.history-tab-won {
  background: rgb(16, 26, 32);
  background: linear-gradient(
    90deg,
    rgba(16, 26, 32, 1) 35%,
    #18272f 60%,
    rgba(30, 57, 66, 1) 100%
  );
}

.history-tab-lost {
  background: rgb(66, 27, 33);
  background: linear-gradient(90deg, #401a20 35%, #4f2027 60%, #612830 100%);
}

.dashboard-history-right-rect {
  width: 15px;
  height: 100%;
  background-color: #1e8ef3;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.rect-lost {
  background-color: #9f4146;
}

.rect-won {
  background-color: #1f6561;
}

#dashboard-history-date > h3 {
  color: hsl(228, 18%, 57%);
}

#dashboard-history-opponent,
#dashboard-history-mode,
#dashboard-history-date {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

#dashboard-history-opponent > *,
#dashboard-history-mode > *,
#dashboard-history-date > * {
  font-family: cool;
}

#dashboard-history-mode {
  width: 6.5rem;
  text-align: center;
}

#tabs-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  gap: 30px;
}

.Dashboard-History-Score {
  display: flex;
}

.Dashboard-History-Score > * {
  font-family: cool;
}

#History-player_score {
  color: #1f6561;
}

#History-opponent_score {
  color: #9f4146;
}

@media only screen and (max-width: 1920px) {
  #HistoryNogamesPlayed,
  #history {
    display: none;
  }
}

@media only screen and (max-width: 3000px) {
  #history {
    height: 53vh;
  }
}

@media only screen and (max-width: 2880px) {
  #history {
    height: 50vh;
  }
}

@media only screen and (max-width: 2560px) {
  .HistoryShadow,
  .HistoryShadowDashboard {
    display: none;
  }
  .history-tabs {
    height: 100px;
  }
  #dashboard-history-opponent > *,
  #dashboard-history-mode > *,
  #dashboard-history-date > * {
    font-size: 1rem !important;
  }
  .Dashboard-History-Score > * {
    font-size: 1rem !important;
  }
  .dashboard-history-right-rect {
    width: 12px;
  }
  .history-tabs-left-container {
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
  }
  #dashboard-history-mode {
    width: 6.5rem;
    text-align: center;
  }
}
