.Panton {
  font-family: cool;
  text-decoration: none;
}

.LeaderBoard {
  display: flex;
  justify-content: center;
}

.LeaderBoardContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 2000px;
}

.LeaderBoardContainer > h1 {
  margin: 4rem 0 0rem 0;
  text-align: center;
  font-size: 4rem;
  color: #1e8ef3;
  text-shadow: 0px 0px 25px rgba(29, 144, 245, 1);
  letter-spacing: 0.5rem;
  margin-bottom: 4rem;
}

.Top3 {
  margin: 3rem 0 4rem 0;
}

.First,
.Second,
.Third {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
}

.topImgsContainer {
  width: 12rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  padding-bottom: 5px;
  box-shadow: #ffc94a 0px 0px 30px 0px;
  background: radial-gradient(
      ellipse farthest-corner at right bottom,
      #fedb37 0%,
      #fdb931 8%,
      #9f7928 30%,
      #8a6e2f 40%,
      transparent 80%
    ),
    radial-gradient(
      ellipse farthest-corner at left top,
      #ffffff 0%,
      #ffffac 8%,
      #d1b464 25%,
      #5d4a1f 62.5%,
      #5d4a1f 100%
    );
  position: relative;
  font-family: cool;
}

.topImgsContainer::before {
  content: "#1";
  position: absolute;
  bottom: 0;
  left: 97px;
  display: flex;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}

.Second > .topImgsContainer {
  /* background: #999999; */
  box-shadow: #999999 0px 0px 30px 0px;
  background-color: #d7d7d7;
  background-image: linear-gradient(147deg, #d7d7d7 0%, #353535 74%);
}

.Third > .topImgsContainer {
  box-shadow: #4d3a3a 0px 0px 100px 0px;
  background-color: #ffd3ea;
  background-image: linear-gradient(120deg, #ffd3ea 0%, #403020 50%);
}

.Second > .topImgsContainer::before {
  content: "#2";
}

.Third > .topImgsContainer::before {
  content: "#3";
}

.topImgs {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
  border-right: 5px dashed white;
  border-left: 5px dashed white;
  padding: 5px;
}

.topImgs:hover,
.toph1:hover {
  cursor: pointer;
}

.toph1 {
  font-size: 1.9rem;
}

.Coins {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.7rem 4rem;
  border-radius: 25px;
  background: linear-gradient(to bottom, #242631 0%, #0f1119 100%);
}

.SecondThird {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0 3rem;
}

.LeaderBoardRest {
  max-height: 700px;
  overflow-y: scroll;
  padding: 0 2rem;
}

.LeaderBoardRest > ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.LeaderBoardRest > ul > li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 25px;
  padding: 1rem;
  box-shadow: #000000 0px 0px 2px 0px;
}

.SpecialCase {
  background: linear-gradient(to bottom, #24263195 0%, #0f1119 100%);
}

ul > li > div > img {
  box-shadow: gray 0px 0px 20px 0px;
}

.SpecialCase > div > img {
  border: none;
  box-shadow: #000000 0px 0px 30px 0px;
}

.lineLi {
  height: 100px;
  width: 2px;
  border: 1px solid var(--grey-bg-color);
}

.RestImgs {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
}

.idAndLine {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.idAndLine > h1,
.UserLevel,
.UserGamesWon {
  position: relative;
}

.idAndLine > h1:hover::before,
.UserGamesWon:hover::before,
.UserLevel:hover::before {
  content: "Rank";
  position: absolute;
  bottom: 2rem;
  right: -1rem;
  color: #5fcae4;
  transition: 0.2s;
}

.UserGamesWon:hover::before {
  content: "Wins";
}

.UserLevel:hover::before {
  content: "Level";
}

@media only screen and (max-width: 2200px) {
  .LeaderBoardRest {
    /* padding: 0; */
  }
}

.LeaderRestLeft {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
}

.LeaderRestRight {
  display: flex;
  justify-content: space-between;
  flex: 2;
}

.LeaderRestRighUsrtName {
  display: flex;
  flex: 0.5;
}

.LeaderRestRightLvl {
  display: flex;
  flex: 2;
  justify-content: space-evenly;
}

.LeaderBoardToolTip {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
  margin-bottom: 1rem;
}

.TooltipLeft {
  display: flex;
  /* background-color: red; */
  flex: 0.53;
  justify-content: center;
}

.TooltipRight {
  display: flex;
  flex: 2;
  /* background-color: blue; */
  justify-content: space-between;
  padding-left: 15rem;
}

.TooltipRightUser {
  display: flex;
  flex: 0.5;
}

.TooltipRightRest {
  display: flex;
  flex: 2;
  justify-content: space-evenly;
  padding-right: 4rem;
  padding-left: 2rem;
}

.ToolTipColor {
  color: #2e313f;
}
