:root {
  --bg-color: #0c0e14;
  --font-color: white;
  --grey-bg-color: hsl(227, 15%, 23%);
  --blue-glow: #5fcae4;
}

* {
  /* border: 0.1px solid gray; */
}

#ProfileFriendsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  border: 1px solid var(--blue-glow);
  border-radius: 25px;
  overflow-y: scroll;
  max-height: 930px;
  padding: 2rem;
}

#ProfileFriendsContainer::-webkit-scrollbar {
  display: none;
}

.ProfileFriendsToolTip > th > h1 {
  font-size: 1.7rem;
  letter-spacing: 2px;
  text-align: center;
}

.ProfileFriendsContainer > table > tbody > tr {
  border: 1px solid var(--blue-glow);
}

.ProfileFriendsContent > td {
  padding: 1rem;
  border-bottom: 1px solid var(--blue-glow);
}

.ProfileFriendsContent > td > * {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ProfileFriendH1 {
  font-size: 1.6rem;
}

.ProfileFriendImg {
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 5px 5px 0 var(--blue-glow);
  cursor: pointer;
}

.ProfileFriendUsername {
  cursor: pointer;
  color: var(--blue-glow);
}

@media only screen and (max-width: 2880px) {
  .ProfileFriendsContainer {
    height: 50vh !important;
  }
}

@media only screen and (max-width: 1920px) {
  #ProfileFriendsContainer {
    padding: 1rem 10px;
  }
  .ProfileFriendsToolTip > th > h1 {
    font-size: 1rem;
    letter-spacing: 1px;
  }
  .ProfileFriendsContent > td {
    padding: 10px 0;
  }
  .ProfileFriendH1 {
    font-size: 1rem;
  }
  .ProfileFriendImg {
    width: 5rem;
    height: 5rem;
  }
  .ProfileFriendUsername {
    cursor: pointer;
    color: var(--blue-glow);
  }
}

@media only screen and (max-width: 1920px) {
  #ProfileFriendsContainer {
    padding: 10px;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 768px) {
  #ProfileFriendsContainer {
    width: 94%;
  }
  .remove {
    display: none;
  }
}

@media only screen and (max-width: 425px) {
  #ProfileFriendsContainer {
    width: 90%;
  }
  .removeit {
    display: none;
  }
}
