:root {
  --bg-color: #0c0e14;
  --font-color: white;
  --grey-bg-color: hsl(227, 15%, 23%);
  --blue-glow: #5fcae4;
}

* {
  /* border: 0.1px solid red; */
}

.MainSettingsContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.MainSettings {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: 100%;
  max-width: 1440px;
}

.SettingsContent {
  display: flex;
  flex: 1;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  background-image: url("/blob-scene-haikei.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 20px 10px black;
}

.SettingsLeft {
  flex: 1;
  min-width: 320px;
  padding: 4rem 2rem;
  display: flex;
  flex-direction: column;
  flex-direction: wrap;
  gap: 3rem;
  border-radius: 25px;
}

.SettingsRight {
  min-width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
  margin: 4rem 2rem 5rem 2rem;
  padding: 4rem 2rem;
  border-radius: 25px;
  border: 2px solid var(--blue-glow);
  background: transparent;
  -webkit-backdrop-filter: blur(8.2px);
}

.SettingsRight > * {
  width: 100%;
}

.SettingsImg {
  display: flex;
  justify-content: center;
  position: relative;
  flex-direction: column;
}

#buttonTest {
  border: 1px solid #5fcae4;
  background-color: white;
  color: black;
  border-radius: 5px;
  width: fit-content;
  padding: 0.5rem 2rem;
}

.SettingsImgEdit {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
}

.SettingsImgEdit > label > input[type="file"] {
  display: none;
}

.SettingsImgEdit > label {
  cursor: pointer;
}

#SettingsEdit > * {
  font-size: 2.5rem;
  fill: var(--bg-color);
}

.SettingsImg > img {
  border-radius: 15px;
  height: 18rem;
  width: 300px;
  object-fit: cover;
}

.wht {
  letter-spacing: 1px;
}

.blk {
  color: white;
  letter-spacing: 1px;
}

.SettingsData {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.SettingsDataContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.SetIcon {
  height: 3rem;
  font-size: 2.5rem;
}

.SetInfo {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid var(--blue-glow);
  background-image: radial-gradient(#5fcae4 1px, transparent 1px),
    radial-gradient(#5fcae4 1px, transparent 1px);
  background-size: 100px 100px;
  background-position: 0 0, 50px 50px;
  animation: g17 3s infinite linear;
  /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
}

.SetInfo:hover {
  scale: 1.1;
  transition: all 0.3s;
}

.SetInfo:active {
  scale: 1;
  opacity: 0.8;
}

.GeneralInfoContainer {
  display: flex;
  flex-direction: column;
}

.GeneralInfoContainer > * {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.GeneralInfoContainer > form > div > * {
  color: #0c0e14;
}

.SettingsComponents {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  gap: 2rem;
}

.LeftSpacer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.SetUnderLine {
  border-bottom: 2px dotted var(--blue-glow);
  margin: 0 5px;
}

.GeneralInfoInput {
  border: 2px solid var(--blue-glow);
  border-radius: 15px;
  padding: 20px 20px;
  transition: all 0.3s;
  height: 4rem;
  color: white;
  width: 100%;
  font-size: 1.3rem;
  background-color: transparent;
}

.GeneralInfoInput:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--blue-glow);
  transition: 0.5s;
  border-radius: 0;
  scale: 1.03;
  color: white;
  font-weight: 600;
}

.GeneralInfoInput:focus::placeholder {
  color: var(--grey-bg-color);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: white 5000s ease-in-out 0s;
}

.GeneralInfoContainer > form > div > input {
  color: white;
  font-weight: 500;
  backdrop-filter: blur(8.2px);
  background-image: radial-gradient(#5fcae4 1px, transparent 1px),
    radial-gradient(#5fcae4 1px, transparent 1px);
  background-size: 100px 100px;
  background-position: 0 0, 50px 50px;
  animation: g17 3s infinite linear;
}

.GeneralInfoContainer > form > div > input::placeholder {
  color: white;
}

.FirstSecondName {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.firstSecond {
  max-width: 20rem;
}

.ButtonContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.ButtonContainer * {
  width: fit-content;
}

.SetButton {
  cursor: pointer;
  border: none;
  text-align: center !important;
  padding: 1rem 2rem;
  transition: 0.5s;
  font-weight: 450;
  text-transform: uppercase;
  background-size: 200% auto;
  border-radius: 15px;
  font-size: 1.3rem;
  background-image: linear-gradient(
    to right,
    #abbaab 0%,
    #ffffff 51%,
    #abbaab 100%
  );
  /* box-shadow: 0 0 20px #eee; */
}

.SetButton:hover {
  background-position: right center;
  text-decoration: none;
  scale: 1.05;
}

.SetButton:active {
  scale: 1;
}

.SetSubmit {
  background-image: linear-gradient(
    to right,
    #314755 0%,
    #26a0da 51%,
    #314755 100%
  );
  /* box-shadow: 0px 0px 20px 2px rgba(95, 202, 228, 1); */
}

.SetSubmit:hover {
  box-shadow: 0px 0px 20px 10px rgba(95, 202, 228, 1);
}

.twofaContainerFirst {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.twofaContainerFirst > h1 {
  font-family: "Roboto", sans-serif;
}

.twofaInput {
  display: flex;
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--blue-glow);
  width: fit-content;
}

.twofaInput > * {
  text-align: center;
  background-color: transparent;
  border: 1px solid var(--blue-glow);
  border-radius: 5px;
  width: 2rem;
  font-weight: 600;
  height: 2rem;
}

.twofaButton {
  background-color: #f6f5f5;
  border: none;
  color: black;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 500;
  box-shadow: 0px 0px 5px black;
  cursor: pointer;
}

.twoFaContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
}
/* -------------------------------------------------------------------------------------- */
.SettingItemsContainer {
  min-width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 2;
  padding: 15px;
  border-radius: 25px;
  border: 2px solid var(--blue-glow);
}

.settingsItems {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
}

.settingsItems::-webkit-scrollbar {
  display: none;
}

.settingsPaddlesContainer,
.settingsBackgroundsContainer,
.settingsBallsContainer {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  overflow-y: hidden;
}

.settingsPaddlesContainer::-webkit-scrollbar,
.settingsBackgroundsContainer::-webkit-scrollbar,
.settingsBallsContainer::-webkit-scrollbar {
  height: 2px;
  display: none;
}

.SettingCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  gap: 10px;
  width: 200px;
  border-radius: 20px;
  padding: 0 0 10px 0;
  background-color: #d3d6e4;
  /* border: 2px solid black; */
}

.SettingCardContainer > img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.SettingCardContainer > h1 {
  color: black;
  text-align: center;
}

.settingsItems > h1 {
  color: #d3d6e4;
  margin: 1rem 0 1rem 0;
}

@media screen and (max-width: 1024px) {
  .settingsPaddlesContainer,
  .settingsBackgroundsContainer,
  .settingsBallsContainer {
    width: 80vw;
  }
  .SettingItemsContainer {
    flex: none;
    height: fit-content;
    flex-grow: 0;
  }
  .settingsItems {
    height: 70vh;
    overflow-y: scroll;
  }
  .settingsPaddlesContainer,
  .settingsBackgroundsContainer,
  .settingsBallsContainer {
    gap: 0.5rem;
  }
  .SettingCardContainer {
    width: 150px;
    border-radius: 20px;
    padding: 0 0 10px 0;
    background-color: #d3d6e4;
    /* border: 2px solid black; */
  }

  .SettingCardContainer > img {
    height: 150px;
    width: 150px;
  }
  .settingsItems > h1 {
    margin: 4px 0 4px 0;
  }
}

@media screen and (max-width: 425px) {
  .settingsItems {
    height: 70vh;
    overflow-y: scroll;
  }
  .settingsPaddlesContainer,
  .settingsBackgroundsContainer,
  .settingsBallsContainer {
    gap: 0.5rem;
  }
  .SettingCardContainer {
    width: 150px;
  }
  .SettingCardContainer > img {
    height: 150px;
    width: 150px;
  }
  .SettingItemsContainer {
    width: 100%;
    padding: 2px;
    min-width: 300px;
  }
}

@media screen and (max-width: 1400px) {
  .MainSettingsContainer {
    align-items: flex-start;
  }
  .MainSettings {
    display: flex;
    align-items: flex-start;
    height: 80vh;
  }
  .SettingsContent {
    flex-direction: column;
  }
  .SettingsRight {
    flex: 0;
    padding: 1rem 1rem;
    min-width: 200px;
    margin: 0rem 2rem;
    height: fit-content;
  }
  .SettingsComponents {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
  .SettingsLeft {
    flex: 0;

    min-width: 200px;
    padding: 10px;
    gap: 10px;
  }
  .SettingsData {
    flex-direction: row;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
    display: none;
  }
  .SettingsImg > img {
    border-radius: 15px;
    height: 10rem;
    width: 200px;
    object-fit: cover;
  }

  .GeneralInfoContainer > * {
    gap: 1rem;
  }
  .GeneralInfoInput {
    border: 1px solid var(--blue-glow);
    padding: 10px 10px;
    border-radius: 8px;
    height: 3rem;
    font-size: 1rem;
  }
  .ButtonContainer {
    gap: 1rem;
  }

  .SetButton {
    padding: 0.5rem 1rem;
    font-weight: 400;
    border-radius: 10px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .SettingsLeft {
    width: 90vw;
    padding: 10px;
    gap: 10px;
  }
  .SettingsImg > img {
    height: 150px;
    width: 150px;
  }
  #SettingsEdit > * {
    font-size: 1.3rem;
  }
  #buttonTest {
    padding: 5px 10px;
  }
  .SettingsUsrName > h1 {
    font-size: 1rem;
  }
  .SettingsComponents {
    justify-content: center;
    flex-direction: row;
    gap: 10px;
  }
  .SetInfo {
    gap: 5px;
    padding: 10px;
  }
  .SetIcon {
    display: none;
  }

  .SettingsData {
    gap: 15px;
  }

  /* ---------------------right side */
  .GeneralInfoContainer > * {
    gap: 10px;
  }
  .SettingsRight {
    margin: 0;
    padding: 2rem 1rem;
    border: 2px solid var(--blue-glow);
  }
  .SetButton {
    padding: 7px !important;
  }
  /* -------------------verification 2fa */
  .twofaContainerFirst {
    gap: 0.5rem;
    align-items: center;
    justify-content: center;
  }
  .twofaContainerFirst > h1 {
    font-size: 1rem;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .SettingsRight {
    border: none;
  }

  .twofaInput {
    display: flex;
    gap: 0.5rem;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid var(--blue-glow);
    width: fit-content;
  }

  .twofaContainerFirst > * {
    width: 260px;
  }
}

@media screen and (max-width: 350px) {
  .twofaContainerFirst > * {
    width: 200px;
  }
  .twofaInput {
    gap: 0.4rem;
    padding: 12px;
  }
  .twofaInput > * {
    width: 1.3rem;
  }
  .SettingsRight {
    padding: 20px;
    width: 90vw;
    min-width: 200px;
  }
  .SettingsLeft {
    width: 95vw;
    min-width: 200px;
  }

  .GeneralInfoContainer > * {
    gap: 5px;
  }
  .SetInfo {
    gap: 0;
    padding: 7px;
  }
  .blk {
    letter-spacing: 0px;
    font-size: 1rem;
  }
}
