:root {
  --bg-color: #0c0e14;
  --font-color: white;
  --grey-bg-color: hsl(227, 15%, 23%);
  --blue-glow: #5fcae4;
}

#SideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
  /* background-color: red; */
  height: 100vh;
}

#logo {
  width: 6rem;
  margin-top: 1.5rem;
  cursor: pointer;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}

.sidebar-links > * > * {
  text-align: center;
  cursor: pointer;
}

.sidebarImgs {
  width: 2.5rem;
  font-size: 2.5rem;
  fill: #757889;
  color: #757889;
  stroke: #757889;
}

.sidebarImgsBlue {
  font-size: 2.5rem;
  width: 2.5rem;
  fill: #1d90f5;
  color: #1d90f5;
  stroke: #1d90f5;
}

.LeaderSide:hover {
  filter: drop-shadow(0 0 20px #1d90f5);
}

.sidebarImgs:hover {
  filter: drop-shadow(0 0 20px #1d90f5);
}

.SideBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
}

@media only screen and (max-width: 2560px) {
  #logo {
    margin-top: 1.3rem;
  }

  .sidebarImgs {
    width: 2rem;
    font-size: 2rem;
  }
  .sidebarImgsBlue {
    font-size: 2rem;
    width: 2rem;
  }

  .sidebarImgs > * {
    width: 2rem;
    font-size: 2rem;
  }
  .sidebarImgsBlue > * {
    font-size: 2rem;
    width: 2rem;
  }
  .LeaderSide > * {
    width: 2.5rem;
  }
}

@media only screen and (max-width: 1024px) {
  #SideBar {
    display: none;
  }
  #logo {
    width: 4rem;
    margin-top: 0;
    margin-right: 1rem;
  }
}
