#SideBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 1rem;
  /* background-color: red; */
  height: 100vh;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}

.sidebar-links > * > *,
#logout {
  text-align: center;
  cursor: pointer;
  width: 3rem;
}

.sidebarImgs {
  width: 2.5rem;
  font-size: 2.5rem;
  fill: #757889;
  color: #757889;
  stroke: #757889;
}

.sidebarImgsBlue {
  font-size: 2.5rem;
  width: 2.5rem;
  fill: #1d90f5;
  color: #1d90f5;
  stroke: #1d90f5;
}

.LeaderSide:hover {
  filter: drop-shadow(0 0 20px #1d90f5);
}

.sidebarImgs:hover {
  filter: drop-shadow(0 0 20px #1d90f5);
}

.sideImg {
  font-size: 2.5rem;
  stroke: #757889;
}

.sideImgsBlue {
  font-size: 2.5rem;
  stroke: #1d90f5;
}

.sideImgsBlue:hover,
.sideImg:hover {
  filter: drop-shadow(0 0 20px #1d90f5);
}

.SideBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  gap: 1rem;
}
