:root {
  --bg-color: #0c0e14;
  --font-color: white;
  --grey-bg-color: hsl(227, 15%, 23%);
  --blue-glow: #5fcae4;
}

#TopBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#welcome-bar {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  flex: 1;
  height: 4rem;
  align-items: center;
}

#welcome-bar > h1 {
  font-size: 2.5rem;
}

#nickName {
  /* color: #1e8ef3; */
  /* text-shadow: 0px 0px 25px rgba(29, 144, 245, 1); */
  animation: lights 4.5s 750ms linear infinite;
}

#search-bar {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
  gap: 3rem;
}

.NotifProfile {
  display: flex;
  align-items: center;
  /* gap: 1rem; */
}

.NotifProfileContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.NotifProfilePic {
  border-radius: 50%;
  width: 4rem;
  cursor: pointer;
  height: 4rem;
  box-shadow: 0px 0px 5px 5px var(--grey-bg-color);
}

#search:placeholder-shown,
#search {
  background-color: #0c0e14;
  border: 1px solid var(--blue-glow);
  width: clamp(100px, 100%, 600px);
  border-radius: 30px;
  padding: 20px 20px;
  background-image: url(/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 20px 20px;
  /* transition: all 0.3s; */
  height: 4rem;
}

#search::placeholder {
  padding: 0 0 0 8%;
}

#search-bar > input[type="text"] {
  color: var(--blue-glow);
}

#search,
#search:focus {
  background-image: none;
}

#search:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--blue-glow);
  transition: 0.5s;
  border-radius: 0;
}

#notif {
  font-size: 4rem;
  background-color: #3d73a3;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 0px 0px 2px rgba(29, 144, 245, 1);
  position: relative;
}

#notifRedDot {
  position: absolute;
  top: 3px;
  right: 0px;
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  z-index: 1000;
}

.div-relat {
  position: relative;
}

ul {
  list-style: none;
  padding: unset;
  margin: unset;
}

.dropdown-menu > ul {
  width: fit-content;
}

.dropdown-menu > ul > li {
  transition: all 0.5s ease-in-out;
  padding: 0.5rem 1.3rem;
  border-radius: 7px;
}

.dropdown-menu > ul > li:hover {
  background: var(--blue-glow);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  color: #fff;
}

.dropdown-menu {
  box-shadow: 0px 10px 30px 0px rgba(82, 63, 105, 0.05);
  transition: all 0.5s ease-in-out;
  position: absolute;
  left: -35%;
  bottom: -90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(12, 14, 20, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

.Search-input-container {
  position: relative;
}

.SearchUsers {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  top: 4rem;
  left: 0;
  width: 100%;
  border: 1px solid var(--blue-glow);
  border-block: none;
  border-bottom: 1px solid var(--blue-glow);
  border-radius: 15px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding: 1rem 2rem;
  z-index: 1000;
  overflow-y: scroll;
  max-height: 10rem;
  height: fit-content;
  transition: all 2s ease-in-out;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(12, 14, 20, 0.75);
  border-radius: 12px;
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.SearchUsers > * {
  font-family: cool;
  cursor: pointer;
}

.SearchUsers > *:hover {
  color: #3d73a3;
  animation: tilt-n-move-shaking 0.25s infinite;
}

@keyframes tilt-n-move-shaking {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-1px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.notif-relative {
  position: relative;
  cursor: pointer;
}

#NotifPopUp {
  display: none;
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 0.6rem;
  gap: 0.7rem;
  right: -9rem;
  width: fit-content;
  border-radius: 12px;
  padding: 0 2rem;
  z-index: 1000;
  overflow-y: scroll;
  max-height: 10rem;
  height: fit-content;
  transition: all 0.5s ease-in-out;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(12, 14, 20, 0.75);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  border: 0.1px solid var(--grey-bg-color);
}
.hideIt {
  visibility: hidden;
  color: green;
  font-size: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.notif-item {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 0;
}

.notif-item > button {
  background-color: #3d73a3;
  padding: 0.3rem;
  border-radius: 12px;
  color: white;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 2560px) {
  #welcome-bar > h1 {
    font-size: 1.8rem;
  }
  #search:placeholder-shown,
  #search {
    padding: 20px 20px;
    background-position: 20px 18px;
    height: 3.5rem;
    font-size: 1rem;
  }
  .NotifProfilePic {
    width: 3.5rem;
    height: 3.5rem;
  }
  #notif {
    font-size: 3.5rem;
    padding: 10px;
  }
  .dropdown-menu {
    left: -48%;
    bottom: -90px;
  }
  .SearchUsers {
    top: 3.5rem;
  }
}

@media only screen and (max-width: 1920px) {
  #search::placeholder {
    padding: 0 0 0 2rem;
  }
}

@media only screen and (max-width: 1440px) {
  #search::placeholder {
    padding: 0 0 0 2rem;
  }
}

@media only screen and (max-width: 1300px) {
  #TopBar {
    justify-content: flex-end;
  }
  #welcome-bar {
    display: none;
  }
}

.absolute {
  display: none;
}

.Drawer {
  background-color: var(--bg-color) !important;
  height: 100% !important;
  width: fit-content !important;
}

.DrawerLinks {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
}

.DrawerLinks > div {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.2s ease-in-out;
}

.DrawerLinks > div:checked {
  background-color: #5fcae4;
}

.DrawerLinks > div:hover {
  scale: 1.1;
}

.DrawerLinks > div > *:not(.DrawerText) {
  font-size: 2rem;
  color: #a5b4c9;
  stroke: #a5b4c9;
  fill: #a5b4c9;
}

.DrawerLinks > div > h1 {
  font-size: 1.5rem;
  color: #a5b4c9;
  cursor: pointer;
}

.BurgerMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0rem;
}

.BurgerMenu > * {
  font-size: 2rem;
}

@media only screen and (max-width: 1024px) {
  #TopBar {
    justify-content: space-between;
  }
  .absolute {
    display: flex;
    height: 100%;
  }
  #welcome-bar {
    display: none;
  }
  #search-bar,
  .NotifProfile {
    gap: 0;
  }
  #search-bar {
    align-items: center;
  }
  #search-bar {
    justify-content: space-between;
    margin-right: 0;
  }
  .NotifProfile {
    gap: 1rem;
  }
  #TopBar {
    align-items: flex-start;
  }
}

@keyframes lights {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }

  30% {
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  40% {
    color: hsl(230, 100%, 95%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }

  70% {
    color: hsl(230, 80%, 90%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }

  100% {
    color: hsl(230, 40%, 80%);
    text-shadow: 0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
}
