* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.root {
	width: 100%;
}
.container_ {
	display: flex;
	gap: 40px;
	position: absolute;
	top: 550px;
	right: 150px;
}
#up, #down {
	position: relative;
	background-color: #1c35576b;
	border: 1px solid white;
	width: 150px;
	height: 150px;
}
#up::before, #down::before, #fog::before, #ta7t::before {
	content: 'W';
	background-color: #1C3557;
	width: 150px;
	height: 150px;
	position: absolute;
	bottom: 10px;
	left: 10px;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 70px;
	font-weight: bold;
	transition: .3s;
	font-family: Arial, Helvetica, sans-serif;
}
#down::before{
	content: 'S';
}
#fog, #ta7t {
	position: relative;
	background-color: #1c35576b;
	border: 1px solid white;
	width: 150px;
	height: 150px;
}
.clicked {
	background-color: #142237;
	transform: scale(.9);
	/* transition: .2s; */
}
#fog::before {
	content: '↑';
}
#ta7t::before {
	content: '↓';
}
.key_1, .key_2 {
	display: flex;
	gap: 40px;
	flex-flow: column;
}