* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.contt_ {
	display: flex;
	justify-content: center;
	position: relative;
	align-items: center;
	height: 80svh;
	flex-flow: column;
	background-color: #1B1D26;
	width: 70%;
	position: relative;
	border-radius: 20px;
}
.c {
	position: absolute;
	top: -5%;
	background-color: #5FCAE4;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 7px solid #000E15;
}