:root {
    --custBack: #0C0E14;
    --NeonEffect: #1D90F5;
    --fadedFColor: #000E15;
    --fadedSColor: #005379;
    --BallX: 50%;
    --BallY: 50%;
    --interfaceX: 1359px;
    --interfaceY: 841px;
    --PaddleX: 25px;
    --PaddleY: 30px;
}
.mod_Cont {
    width: 450px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    transition: .3s all;
    /* z-index: -3; */
    transform: translateX(0%) !important;
}
#root {
    width: 100%;
    height: 100svh;
}
@font-face {
    font-family: lightpant;
    src: url(/Panton-Trial-Light.ttf);
}
@font-face {
    font-family: pant;
    src: url(/Panton-Trial-Bold.ttf);
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
._mods {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: column;
    width: 450px;
    height: 100%;
    transition: .3s all;
    position: fixed;
    top: 23%;
    right: 0%;
    gap: 60px;
}
::-webkit-scrollbar {
    background-color: #00537943;
    border-radius: 25px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--NeonEffect);
    border-radius: 25px;
}
._mods img {
    border: 2px solid var(--NeonEffect);
    border-radius: 15px;
    box-shadow: 0 0 23px 0px var(--NeonEffect);
    cursor: pointer;
    transition: .2s;
    width: 51%;
}
._mods img:hover {
    box-shadow: 0 0 30px 3px var(--NeonEffect);
}
@media screen and (max-width:2373px) {
    .mod_Cont {
        transform: translateX(100%) !important;
        background-color: #000e159c;
        z-index: 0;
    }
    ._mods {
        top: 16%;
    }
    .btn-mods {
        opacity: 1 !important;
    }
}
@media screen and (max-width:775px) {
    ._mods img {
        width: 46%;
    }
    .mod_Cont {
        width: 356px;
    }
    ._mods {
        right: -15%;
    }
}
@media screen and (max-width:525px) {
    ._mods img {
        width: 36%;
    }
    .mod_Cont {
        width: 256px;
    }
    ._mods {
        right: -37%;
    }
}
.showMods_ {
    transform: translateX(0%) !important;
}