@media screen and (max-width:1706px) {
    .game {
        scale: .7;
        width: 1488px;
    }
    #winner {
        font-size: 196px !important;
        z-index: 1 !important;
    }
    .score {
        bottom: 23% !important;
        z-index: 1 !important;
    }
    #Pscore, #Sscore {
        font-size: 295px !important;
    }
}
@media screen and (max-width:1527px) {
    .cup {
        top: 0;
    }
    .tournament {
        scale: .8;
        width: 1079px;
    }
}
@media screen and (max-width:1280px) {
    .tournament {
        width: 988px;
    }
}
@media screen and (max-width:1196px) {
    .tournament {
        width: 913px;
    }
}
@media screen and (max-width:1116px) {
    .tournament {
        display: none;
    }
}
@media screen and (max-width:1390px) {
    .game {
        scale: .7;
        width: 966px;
    }
    .btn-moded {
        top: 0;
        left: 125%;
    }
    .container_ {
        width: 88%;
    }
}
@media screen and (max-width:1179px) {
    .game {
        scale: .5;
        width: 920px;
    }
    .text {
        visibility: hidden;
    }
    .container_ {
        display: none;
    }
}
@media screen and (max-width:1124px) {
    .game {
        scale: .5;
        width: 820px;
    }
}
@media screen and (max-width:840px) {
    .game {
        scale: .5;
        width: 700px;
    }
}
@media screen and (max-width:728px) {
    .game {
        transform: rotate(90deg);
    }
}
@media screen and (max-width:720px) {
    .game {
        width: 600px;
    }
}
@media screen and (max-width:625px) {
    .game {
        width: 500px;
    }
}
@media screen and (max-width:525px) {
    .game {
        width: 450px;
    }
}
@media screen and (max-width:525px) {
    .game {
        scale: .3;
        width: 350px;
    }
}
@media screen and (max-width:360px) {
    .btn-mods {
        position: relative;
        top: 110%;
    }
    .game {
        display: none;
    }
}