.text {
	text-transform: uppercase;
	font-family: pant;
	letter-spacing: 5px;
	font-size: 45px;
	position: absolute;
	top: 3%;
	left: 50%;
	transform: translateX(-50%);
	-webkit-text-stroke: 2px var(--NeonEffect);
	text-shadow: 0 0 25px var(--NeonEffect),
			0 0 25px var(--NeonEffect);
	color: white;
}