:root {
    --custBack: #0C0E14;
    --NeonEffect: #1D90F5;
    --lighColor: #5FCAE4;
    --fadedFColor: #000E15;
    --fadedSColor: #005379;
    --BallX: 50%;
    --BallY: 50%;
    --interfaceX: 1359px;
    --interfaceY: 841px;
    --PaddleX: 25px;
    --PaddleY: 30px;
}
.alltnGames {
    width: 100%;
    height: 100svh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    flex-flow: column;
    gap: 50px;
    position: relative;
}
.cards {
    display: flex;
    gap: 20px;
    height: 80%;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    flex-wrap: wrap;
    transition: .3s;
    overflow-y: scroll;
}
.card {
    width: 345px;
    height: 370px;
    background-color: #000E15;
    border: 1px solid var(--lighColor);
    display: flex;
    flex-flow: column;
    justify-content: center;
    border-radius: 25px;
    align-items: center;
    gap: 20px;
}
.img-card {
    width: 60%;
    border: 5px solid var(--lighColor);
    border-radius: 20px;
}
.tnName {
    background-color: var(--lighColor);
    width: 60%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px
}
.bottomTa {
    display: flex;
    width: 59%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}
.bottomTa div {
    border-radius: 10px;
    width: 50%;
    height: 50px;
    background-color: var(--lighColor);
    transition: .2s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-createTn {
    display: flex;
    width: 60%;
    justify-content: center;
    align-items: center;
}
.btn-createTn button {
    background-color: var(--lighColor);
    padding: 10px 20px;
    /* border-radius: 15px; */
    border: none;
    transition: .2s;
    cursor: pointer;
}
.btn-:hover, .btn-createTn button:hover {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.342);
}
.create-option {
    backdrop-filter: blur(5px);
    background-color: #323644;
    width: 330px;
    height: 250px;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 30%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    transform: translateX(-50%);
    visibility: hidden;
    transition: .3s all;
    animation: glow 3s infinite ease-in-out;
}
.create-option h1 {
    font-size: 35px;
    text-transform: uppercase;
}
.create-option input {
    background: #1B1D26;
    border: 1px solid transparent;
    border-radius: 10px;
    height: 45px;
    width: 250px;
    padding: 0 0 0 10px;
    transition: .2s;
}
.create-option button {
    background-color: #1B1D26;
    border: none;
    border-radius: 7px;
    width: 150px;
    height: 45px;
    text-transform: uppercase;
    cursor: pointer;
}
.create-option input:focus, .create-option input:active {
    border: none;
    outline: none;
}
.show {
    transition: .3s all;
    visibility: visible;
    z-index: 5;
}
.blurIt {
    filter: blur(3px);
}
.error_ {
    animation: error .3s ease-in;
}
@keyframes error {
    0% {
        transform: translateX(5%);
    }
    20% {
        transform: translateX(-5%);
    }
    40% {
        transform: translateX(5%);
    }
    60% {
        transform: translateX(-5%);
    }
    100% {
        transform: translateX(5%);
    }
}
@keyframes glow {
    0% {
        box-shadow: 0 0 15px 3px var(--lighColor);
    }
    50% {
        box-shadow: 0 0 30px 3px var(--NeonEffect);
    }
    100% {
        box-shadow: 0 0 15px 3px var(--lighColor);
    }
}